__pycache__/
*.py[cod]
.venv/
.env
.env.*
artifacts/
data/*/
!data/abalone/
!data/ada_prior/
!data/avila/
!data/connect-4/
!data/eeg/
!data/google/
!data/house_prices/
!data/jungle_chess_2pcs_raw_endgame_complete/
!data/microaggregation2/
!data/mozilla4/
!data/obesity/
!data/page-blocks/
!data/pbcseq/
!data/pol/
!data/Run_or_walk_information/
!data/shuttle/
!data/USCensus/
!data/wall-robot-navigation/
data/*/*
!data/*/data.csv
!data/*/info.json
*.pkl
*.joblib
*.log
.DS_Store
.idea/
.vscode/
